@using Microsoft.AspNetCore.Identity;
@model WebApp.ViewModels.Users.ChangeUserRoleViewModel
@{
    ViewData["Title"] = "Change role";
}

<div class="row">
    <div class="col-md-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h3>Change role of user @Model.Email</h3>
        <hr />
        <form asp-action="ChangeUserRole" asp-controller="Users" method="post">
            <div class="form-floating mb-1">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <div>
                        <input class="form-check-input" name="roles" type="checkbox" value="@role.Name"
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                        <label class="form-check-label">@role.Name</label>
                    </div>
                }
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class=" btn btn-danger" asp-action="Index">Back</a>
            </div>
        </form>

    </div>
</div>

