@model WebApp.ViewModels.Users.DeleteUserViewModel

@{
    ViewData["Title"] = "Delete user";
}

<div class="row">
    <div class="col-md-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        

        <h3>Are you really want to delete user?</h3>
        <hr />

        <b>Email:</b> @Model.Email<br>
        <b>Roles:</b>
       
        <ul>
            @foreach (var role in Model.UserRoles)
            {
                <li name="roles" >@role</li>
            }
        </ul>
          
        <form asp-action="Delete" asp-controller="Users">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a class=" btn btn-danger" asp-action="Index">Back</a>
        </form>

    </div>
</div>



